@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Zen+Kaku+Gothic+Antique&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito", "Sawarabi Gothic", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  background-color: #f8fafc;
}

main {
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
}

/*****************************************
レスポンシブ
*****************************************/
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
/********************
登録フォーム
********************/
  .form__group--button {
    display: flex;
    flex-direction: column-reverse;
    width: 40%;
  }

  .link--update {
    margin: 0 auto;
  }
  
  .link--back {
    margin: 0 auto;
  }

}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*****************************************
ナビゲーション
*****************************************/
.navbar {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.075) 0 2px 4px 0;
}

.container--navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/********************
ブランドロゴ
********************/
.brand {
  margin: 0 1rem 0 0;
  padding: 0.32rem 0;
  font-size: 1.125rem;
}

/********************
メニュー
********************/
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.nav__item {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
}

.nav__item-child {
  padding: 0.5rem;
}

.nav__item-child--dropdown {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
}

.open {
  display: block;
}

/*****************************************
見出し
*****************************************/
.heading {
  text-align: center;
}

.heading__text {
  font-size: 1.5rem;
  font-weight: 100;
}

/*****************************************
メッセージ
*****************************************/
.message--worning {
  display: inline-block;
  color: red;
  font-size: smaller;
}

/*****************************************
登録フォーム
*****************************************/
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #fff;
  border-radius: 1em;
  border: solid 0.25em rgba(164, 182, 217, 0.4);
}

.form__group {
  display: flex;
  width: 100%;
}

.form__group:not(:last-child) {
  margin: 0 0 2rem 0;
}

.form__group-label {
  flex: 22%;
  margin: 0 3% 0 0;
  text-align: right;
  font-size: 1.1em;
}

.form__group-control {
  flex: 50%;
  padding: 0.5em;
  max-width: 400px;
  border-radius: 0.5em;
}

.form__group-control:not(.form__group-control--file) {
  border: solid 0.15em rgba(164, 182, 217, 0.4);
}

.wrapper--message {
  flex: 22%;
  margin: 0 0 0 3%;
}

.form__group--button {
  display: flex;
  flex-direction: row-reverse;
  width: 40%;
}

.form__group-button {
  flex: 30%;
}

.link--back,
.link--update {
  cursor: pointer;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(164, 182, 217, 0.4);
  border: none;
  border-radius: 0.5em;
  transition-duration: 0.2s;
}

.link--update {
  margin: 0 0 0 1.5rem;
}

.link--update:hover {
  background-color: rgba(163, 217, 184, 0.8);
}

.link--back {
  margin: 0 1.5rem 0 0;
}

.link--back:hover {
  background-color: rgba(239, 179, 179, 0.8);
}

/*****************************************
検索フォーム
*****************************************/
.optional-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 0.4rem 0.6rem;
  background-color: rgba(155, 172, 204, 0.8);
}

.link--add,
.link--search {

  font-size: 1em;
  cursor: pointer;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  text-align: center;
  color: rgba(25, 50, 97, 0.8);
  background: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 0.25em;
  transition-duration: 0.2s;
}

.link--add:hover,
.link--search:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(25, 50, 97, 0.8);
}

.search-box__control {
  font-size: 1em;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.5);
}

.search-box__control-wrapper {
  display: inline-block;
  padding: 0.1rem 0.5rem;
}

.iput-number {
  font-size: 0.8em;
  padding: 0.05rem 0.1rem;
  width: 5em;
}



/*****************************************
テーブル
*****************************************/
.table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border: none;
}

.table__head {
  height: 3em;
  color: #fff;
  background-color: rgba(25, 50, 97, 0.8);
}

.table__head-row-cell {
  border: none;  
}

.table__head-row-cell--narrow {
  width: 8%;
}

.table__head-row-cell--primary {
  width: 15%;
}

.table__head-row-cell--wide {
  width: 30%;
}

.table__body {
  background-color: rgba(155, 172, 204, 0.8);
}

.table__data-row {
  font-size: 0.8em;
  padding: 0 0 0 1em;
  height: 6em;
}

.table__data-row-cell {
  border: none;
}

.table__data-row-cell--img {
  vertical-align: middle;
  object-fit: cover;
  height: 6em;
}

.link--detail,
.link--destroy,
.link--edit {
  height: 100%;
  font-size: 0.8em;
  cursor: pointer;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  text-align: center;
  color: rgba(25, 50, 97, 0.8);
  background: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 0.25em;
  transition-duration: 0.2s;
}

.link--detail:hover,
.link--edit:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(42, 168, 92, 0.8);
}

.link--destroy:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(208, 52, 52, 0.8);
}

.wrapper--button {
  text-align: center;
  line-height: 8em;
  vertical-align: middle;
}
