.heading {
  margin: 0 auto;
  width: 50%;
}

.form {
    margin: 0 auto;
    width: 50%;
}

.form__button {
    display: block;
    text-align: center;
    margin-top: 10%;
}

.form__button input[type="submit"] {
  width: 50%;
}

#main a {

  color: white;
}
